html{

}
body{
	margin:0;
	padding: 0;
	box-sizing: border-box;
}

*{
	margin: 0;
	padding:0;
	box-sizing: border-box;
}
.header{
	height:350px;
	background: rebeccapurple;
	color: whitesmoke;
	display: flex;
flex-direction: column;
flex: 1 1 auto;
}
.header1{
display: flex;
padding-bottom: 5px;
justify-content: space-between;
padding:10px;

}
.header1 > img{
	aspect-ratio: 35/4;

}
.header2{
	display: flex;
	flex: 1;
	justify-content: center;
	align-items: center;
	padding: 20px;
	align-items: center;
}
.services{
	display: inline-block;
	position: relative;
}
.services-list{
	display: none;
	position: absolute;

  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.services-list a{
	color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  }
  .services-list a:hover{
background-color:#E0B0FF;
}
.services:hover .services-list{
display: block;
float: left;
}
.header-title{
	display: flex;
	flex-direction: column;
	flex: 1;
}

.header-img{
	display: flex;
	flex: 1;
}
ul, li{
	text-decoration: none;
	list-style: none;
	display: flex;
	gap: 10px;
}
#header-img{
	display: flex;
	width:50%;
	margin-left: 40px;
	margin-top: -50px;
}
a:active{
	color: whitesmoke;
}
a:hover{
	transform: scale(1.2);
	color:seagreen;
}
a:visited{
	color: floralwhite;
}
.depart-title{
	text-align: center;
	font-size: 1.4rem;
	padding: 20px 20px 0px 20px ;

}
.main{
	display: flex;
	flex-direction: row;
	flex: 1;
	justify-content: space-between;
	align-items: center;
	gap: 50px;
	padding: 50px;
	padding-top: 0px;
	margin: 50px;
}
#main-img{
	height: 250px;
	width: 100%;
	border-radius: 15px;
}
.main1{
	display: flex;
	flex-direction: column;
	flex-basis: 100%;
	gap: 10px;
	text-align: center;
}
.btn {
  background-color: #e1ecf4;
  border-radius: 3px;
  border: 1px solid #7aa7c7;
  box-shadow: rgba(255, 255, 255, .7) 0 1px 0 0 inset;
  box-sizing: border-box;
  color: #39739d;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI","Liberation Sans",sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.15385;
  margin: auto;
  outline: none;
  padding: 8px .8em;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select:none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}

.btn:hover,
.btn:focus {
  background-color: #b3d3ea;
  color: #2c5777;
}

.btn:focus {
  box-shadow: 0 0 0 4px rgba(0, 149, 255, .15);
}

.btn:active {
  background-color: #a0c7e4;
  box-shadow: none;
  color: #2c5777;
}
a{
	text-decoration: none;
	list-style: none;
}
.title{
	font-size: 1.3em;
}
.testimonial{
	height: 200px;
	background-color: lightcoral;
	margin-bottom: 20px;
	font-family: Quicksand,sans-serif;
}
.testimonial > p{
	font-size: 1.6em;
	text-align: center;
	color: black;
	padding: 15px;
}
.call-section{
	justify-content: center;
	align-items: center;
	padding-top: 0;
	margin-top: 0;
	font-family: 'Open Sans',sans-serif;
}
.call-section > button{
	padding: 20px;
	font-size: 1.1em;
	}

footer{
	padding: 15px;
	background-color: rebeccapurple;
	text-align: center;
	color: whitesmoke;
}
@media(max-width:320px){
	.header-title{
		font-size: 0.8rem;
	}
#header-img{
	width:80%;
}
}
@media(max-width:600px){
	.header1 > img{
		display: none;
	}
	.main{
		display: flex;
		flex-direction: column;
		padding: 10px;
		margin: 5px;
		gap:10px;

	}
	.main1{

		padding: 10px;
	}
	.main1 > -1{
		border-bottom: none;
	}
	#main-img{
		width: 100%;
		height: 350px;
		padding: 5px;
	}
	.testimonial{
		display: flex;
		flex-direction: column;
		height: 350px;
	}
	.projects-row1{
	display: flex;
	flex-direction: column;
	gap:5px
	padding: 3px;

}

.projects-row1-1{
	display: flex;
	flex-direction: column;
}
#project-img{
	width: 100%;
	height: 350px;
}
}

.projects-row1{
	display: flex;
	flex: 1;
	justify-content: space-between;
	margin:20px;
	gap:20px;
	padding: 30px;
}

/*image slider*/

.slider {

  width:250px;
border-radius: 10px;
  height: 250px;

  overflow: hidden;
display: flex;
justify-content: center;
  position: relative;

}


.slide {

  width: 100%;

  position: absolute;

  animation: slideShow 32s infinite;

  opacity: 0;

}


.slide:nth-child(1) {

  animation-delay: 0s;

}


.slide:nth-child(2) {

  animation-delay: 4s;

}


.slide:nth-child(3) {

  animation-delay: 8s;

}

.slide:nth-child(4) {

  animation-delay: 12s;
}

.slide:nth-child(5) {

  animation-delay: 16s;
}
.slide:nth-child(6) {

  animation-delay: 20s;
}

.slide:nth-child(7) {

  animation-delay: 24s;
}

.slide:nth-child(8) {

  animation-delay: 28s;
}

.slide:nth-child(9) {

  animation-delay: 32s;
}
@keyframes slideShow {

  0% {opacity: 0;}

  8% {opacity: 1;}

  33% {opacity: 1;}

  41% {opacity: 0;}

  100% {opacity: 0;}

}
#slider-img{
  width:100%;
}

.projects-row2{
	display: flex;
	flex: 1;
		justify-content: space-between;
}

.loxostore{
height:300px;
background: lavender;
display: flex;
justify-content: space-around;
align-items: center;
font-size: 1.5rem;
}
.loxostore div{
	padding:10px;
	text-align: center;
}
.loxostore div p{
	text-align: center;

}
.loxostore div p img{
	width:10%;

}


/*Electrical*/
#header-electrical-img{
	width: 40%;

}
.electrical-services{
	display: flex;
	gap:20px;
	padding: 40px;
	margin: 30px;
justify-content:center;
}
h2{
	text-align: center;
	padding: 10px;
	font-size: 2em;
}
#electrical-img{
	width: 100%;
	height: 300px;
	border-radius: 20px;
}
.title{
	text-align: center;
	font-size: 2em;
	padding: 10px;
}
@media(max-width:400px){
	.electrical-services{
		display: flex;
		flex-direction: column;
		gap:5px;
		padding:3px;
}
}

/*Electrical Inspections*/
.inspection-list{
	display: flex;
	flex-direction: column;
	padding:30px;
	list-style: outside;
	list-style-type: square;
}
.inspection-list li{
	list-style-type: square;
}
.inspection{
	padding:20px;
	font-size: 1.4rem;
}
#icon-img{
	width:30px;
	height:30px;
margin: 10px;
}
/*Carpentry*/

.carpentry-services{
	display: flex;
	flex: 1;
gap: 20px;
justify-content: center;
padding: 30px 60px 20px 60px;
padding-bottom: 20px;
}
#carpentry-img{
	width: 100%;
	height: 350px;
	border-radius:20px;
}
@media(max-width:400px){
	.carpentry-services{
		display: flex;
		flex-direction: column;
		gap:5px;
		padding:3px;
	}
}
/*Welding*/
.welding{
display: flex;
padding: 20px;
margin: 10px;
justify-content:center;
}

#welding-img{
width: 100%;
height: 300px;
padding: 10px;
border-radius: 15px;
}
@media(max-width:400px){
	.welding{
		display: flex;
		flex-direction: column;
		gap:5px;
		padding:3px;
	}
}
/*Plumbing page*/
.plumbing{
padding:40px;
margin:20px;
display: flex;
justify-content:center;

}
#plumbing-img{
width: 100%;
height: 300px;
border-radius: 20px;
padding:10px;
}
@media(max-width:400px){
	.plumbing{
		display: flex;
		flex-direction: column;
		gap:5px;
		padding:3px;
	}
}


/*About page*/
.about-page{
	font-size: 1.7em;
	text-align: center;
}
.about-page-bottom{
	text-align: center;
	padding: 30px;
	margin: 10px;
	font-size: 1.4em;
}

/*Contact us page*/
.contact{
	font-size: 3rem;
padding:20px;
}
.contact-intro{
	font-size: 1.3rem;
	padding: 20px;

}
/*Completeed projects page*/
#project-img{
	width: 100%;
border-radius: 15px;
height:400px;
}
/*Services*/
.service-intro{
	padding:10px;
	font-size: 1.2rem;
}
.services-offered{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 1.4rem;
	padding:10px;
}
.services-offered ul{
	display: flex;
	flex-direction: column;
}
